<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      formControlName="email"
      aria-describedby="emailHelp"
      placeholder="Unesi email"
      readonly
      required
    />
  </div>
  <div class="form-group">
    <label for="inputPassword">Sifra</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      id="inputPassword"
      placeholder="Sifra"
      readonly
      required
    />
  </div>
  <label>
    <input
      type="checkbox"
      checked="checked"
      name="remember"
      style="margin-bottom: 15px"
    />
    Remember me
  </label>

  <p>
    By creating an account you agree to our
    <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
  </p>

  <div class="clearfix">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
