<div
  id="overlay"
  [ngClass]="{ show: loading$ | async, hide: !(loading$ | async) }"
>
  <div class="my-loader">
    <div class="spinner-border" role="status"></div>
    <div class="text">Loading…</div>
  </div>
</div>

<div class="container-lg">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <router-outlet> </router-outlet>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
