<div class="entire-wrapper bg-responsive">
  <!-- OVERLAY LOADER (SPINNER) START -->
  <div
    id="overlay"
    [ngClass]="{ show: loading$ | async, hide: !(loading$ | async) }"
  >
    <div class="my-loader">
      <div class="spinner-border" role="status"></div>
      <div class="text">Loading…</div>
    </div>
  </div>
  <!-- END -->
  <!--  TODO: Resolve in line css -->
  <div class="container-lg app-wrapper">
    <!-- Header -->
    <div class="row header-wrapper">
      <div class="col-md-12 g-0">
        <app-header></app-header>
      </div>
    </div>
    <!-- Main content -->
    <div class="row main-content">
      <div class="col-md-12" style="padding: 0">
        <router-outlet> </router-outlet>
      </div>
    </div>
    <!-- Footer -->
    <div class="row footer-wrapper">
      <div class="col-md-12 g-0">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

<!-- Header -> nav bar -->
<!-- Main content -->
<!-- Footer -->
