<div class="entire-wrapper bg-responsive">
  <!-- User Account wrapper -->
  <div class="account-display-wrapper" *ngIf="!isLoggedUser">
    <button type="button" routerLink="/login" class="btn btn-primary padd">
      login
    </button>
    <button type="button" routerLink="/register" class="btn btn-primary">
      Register
    </button>
    <!-- <button type="button" class="btn btn-primary" (click)="test()">test</button> -->
  </div>

  <!-- Toastr notification -->
  <div class="toast-wrapper" [ngClass]="{ show: isShowToast }">
    <app-toast [toast]="toastData" (closeToastEvent)="close()"></app-toast>
  </div>
  <!-- OVERLAY LOADER (SPINNER) START -->
  <div
    id="overlay"
    [ngClass]="{
      showSpinner: loading$ | async,
      hideSpinner: !(loading$ | async)
    }"
  >
    <div class="my-loader">
      <div class="spinner-border" role="status"></div>
      <div class="text">Loading…</div>
    </div>
  </div>
  <!-- END -->
  <div class="container-lg app-wrapper g-0">
    <!-- Header -->
    <div class="row header-wrapper">
      <div class="col-md-12 column">
        <app-header></app-header>
      </div>
    </div>
    <!-- Main content -->
    <div class="row main-content">
      <div class="col-md-12 g-0">
        <router-outlet> </router-outlet>
      </div>
    </div>
    <!-- Footer -->
    <div class="row footer-wrapper">
      <div class="col-md-12 g-0">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

<!-- Header -> nav bar -->
<!-- Main content -->
<!-- Footer -->
