<!-- <button mat-button class="my-button primary" (click)="getTraining()">
  Update
</button> -->
<div class="table-responsive">
  <!-- Filter field -->
  <div class="mb-3 row">
    <label
      for="table-complete-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Full text search:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="dts.searchTerm"
      />
    </div>
  </div>
  <table class="table table-striped" data-search="true">
    <thead>
      <tr>
        <th data-field="state" data-checkbox="true">#</th>
        <th>Datum</th>
        <th>Tip</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let training of trainings$ | async">
        <!-- trackBy: trackTraining -->
        <td>{{ training.id }}</td>
        <td>{{ training.trainingDate }}</td>
        <td>{{ training.typeOfTraining }}</td>
        <td>
          <tr>
            <td>
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Vezba</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let exercise of training.exercises">
                    <td>{{ exercise.exerciseName }}</td>
                    <td>
                      <table class="table mb-0">
                        <thead>
                          <tr>
                            <th>Serija#</th>
                            <th>Broj ponavljanja</th>
                            <th>Kilaza [kg]</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let serie of exercise.series; let i = index"
                          >
                            <td>{{ i + 1 }}</td>
                            <td>{{ serie.repsNum }}</td>
                            <td>{{ serie.weight }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="dts.page"
      [pageSize]="dts.pageSize"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="dts.pageSize"
    >
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</div>
