/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-image: url("./assets/images/fitness-wallpaper.jpg");
}
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}
/************* Common styles *******/
.bg-responsive {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-button-wrapper {
  padding: 0.25rem 0;
}
/*************Icons ********************************************/
.user-circle-icon {
  display: block;
  width: 30px;
  height: 30px;
  background: url("./assets/images/person-circle.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
/************************************/
.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

table {
  width: 100%;
}
.my-button {
  background-color: cadetblue;
  color: white;
  padding-bottom: 8px;
}

.weight-input {
  padding-top: 15px;
}
.mat-form-field {
  width: 100%;
}
.date-padding {
  padding-top: 12px;
}
.exercises-input-form-wrapper {
  border: 8px solid #00748f;
  padding: 10px;
  margin: 10px 0;
  .form-row .form-group {
    padding-bottom: 16px;
  }
}
.btn-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}
.login-wrapper {
  * {
    box-sizing: border-box;
  }

  /* Full-width input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for all buttons */
  button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* Datepicker popup icon */

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

/* Sortable table demo */

th[appNgbSortableTable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[appNgbSortableTable].desc:after,
th[appNgbSortableTable].asc:after {
  content: "";
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
    no-repeat;
  background-size: 22px;
  width: 20px;
  height: 22px;
  float: right;
  margin-left: -22px;
}

th[appNgbSortableTable].desc:after {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.table.table-striped .id-table {
  width: 90px;
}
.skroll {
  height: 400px;
  border: 1px solid black;
  overflow: auto;
}
/***********************************************************/

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 10000; /* Specify a stack order in case you're using a different order for other elements, think obout value because popup modal showing spinner */
  cursor: pointer; /* Add a pointer on hover */
  display: block;
}
.showSpinner {
  opacity: 1;
  visibility: unhidden;
}
.hideSpinner {
  opacity: 0;
  visibility: hidden;
}
.video-wrapper {
  position: relative;
  height: 100%;
}
/** ********************Bootstrap loader ********************/
.my-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 100;
  .spinner-border {
    border: 0.25em solid blue;
    border-right-color: transparent;
  }
  .text {
    color: blue;
  }
}
/*******************************toastr *****************************/
.toast-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 2px solid black;
  background-color: white;
  width: 16rem;
  border-radius: 1.1rem;
  display: none;
  .header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: #6c757d;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    justify-content: space-between;
  }
  .toast-type {
    border-radius: 1rem;
  }
  .body {
    padding: 0.75rem;
    word-wrap: break-word;
  }
  .success {
    background-color: chartreuse;
  }
  .warning {
    background-color: orange;
  }
  .error {
    background-color: red;
  }
  .toast-header {
    justify-content: space-between;
  }
}
.toast-wrapper.show {
  // If there is not .show class toast wont be showed
  display: block;
}
/******************************************** App layout *****************/
.entire-wrapper {
  height: 100%;
  width: 100%;
}
.app-wrapper {
  height: 100%;
  margin: 5rem auto;
}

/*************Training module *************************/
.training-wrapper {
  // padding: 10px;
  // background-image: url("./assets/images/imageshome.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  height: 100%;
  padding: 0.5rem;
  position: relative;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.15;
  overflow: hidden;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.section-table {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
}
.my-table table > :not(caption) > * > * {
  border-bottom: 0;
}
.training-list-wrapper {
  background-color: rgba(76, 175, 80, 0.3);
  min-height: 15rem;
}
.training-form-wrapper {
}
/************************ Header *****************************************/
.header-wrapper {
  display: flex;
  align-items: center;
  height: 10%;
  text-align: center;
  background-color: rgb(102, 153, 255);

  /* start New navigation bar*/
  .hamburger-menu .navigation__button-hamburger,
  .navigation__background {
    @media only screen and (min-width: 900px) {
      display: none;
    }
  }
  .navigation {
    &__checkbox {
      display: none;
    }
    &__button-hamburger {
      background-color: white;
      height: 6rem;
      width: 6rem;
      position: fixed;
      top: 5rem;
      left: 1rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba(black, 0.1);
      text-align: center;
      cursor: pointer;
    }
    &__background {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      position: fixed;
      top: 5rem;
      left: 1rem;
      background-image: radial-gradient(#7ed56f, #28b485);
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

      //transform: scale(80);
      // &.collapse {
      //   -webkit-transform: none;
      //   transform: none;
      //   // @media only screen and (max-width: 900px) {
      //   //   opacity: 0;
      //   // }
      // }
    }

    &__nav {
      display: flex;

      @media only screen and (max-width: 900px) {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        // &.collapse {
        //   opacity: 0;
        // }
      }
    }

    &__list {
      margin: 0;
      @media only screen and (min-width: 900px) {
        display: flex;
        list-style: none;
      }
      @media only screen and (max-width: 900px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
      }
    }

    &__item {
      @media only screen and (max-width: 900px) {
        margin: 0rem;
      }
      @media only screen and (min-width: 900px) {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: #eb2f64;
          transform: scaleY(0);
          transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.1s;
          border-radius: 0.5rem;
        }

        &:hover::before,
        &--active::before {
          transform: scaleY(1);
          width: 100%;
        }

        &:active::before {
          background-color: #ff3366;
        }
      }
    }

    &__link {
      @media only screen and (min-width: 900px) {
        // screen > 900px
        &:link,
        &:visited {
          color: #faf9f9;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: 0 2.5rem 0 0;
          position: relative;
          z-index: 10;
          display: flex;
          align-items: center;

          // @media only screen and (max-width: $bp-medium) {
          //     justify-content: center;
          //     padding: 2rem;
          // }

          // @media only screen and (max-width: $bp-small) {
          //     flex-direction: column;
          //     padding: 1.5rem .5rem;
          // }
        }
      }

      @media only screen and (max-width: 900px) {
        // screen < 900px
        margin: 1rem;
        &:link,
        &:visited {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          padding: 1rem 2rem;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            white 50%
          );
          background-size: 220%;
          transition: all 0.4s;

          span {
            margin-right: 1.5rem;
            display: inline-block;
          }
        }

        &:hover,
        &:active {
          background-position: 100%;
          color: #55c57a;
          transform: translateX(1rem);
        }
      }
    }

    //ICON
    &__icon {
      @media only screen and (max-width: 900px) {
        position: relative;
        margin-top: 3rem;

        &,
        &::before,
        &::after {
          width: 3rem;
          height: 1px;
          background-color: #333;
          display: inline-block;
        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all 0.2s;
        }

        &::before {
          top: -0.8rem;
        }
        &::after {
          top: 0.8rem;
        }
      }
    }

    .navbar-nav__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 1rem;
    }
  }
  //FUNCTIONALITY
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }

  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }

  .navigation__button-hamburger:hover .navigation__icon::before {
    top: -1rem;
  }

  .navigation__button-hamburger:hover .navigation__icon::after {
    top: 1rem;
  }

  .navigation__checkbox:checked
    + .navigation__button-hamburger
    .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked
    + .navigation__button-hamburger
    .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked
    + .navigation__button-hamburger
    .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  /* end New navigation bar*/
  .userbox {
    align-self: stretch;
    display: flex;
    color: white;
    align-items: center;
    margin-right: 10px;
    justify-content: end;
    .name {
      margin-right: 1rem;
    }
    .far {
      font-size: 35px;
      color: red;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      .remove-btn {
        border: 0;
        background-color: rgb(102, 153, 255);
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 0.5rem;
    }

    .dropdown:hover .dropdown-content {
      cursor: pointer;
      border-radius: 0.5rem;
      display: block;
    }
    & > * {
      padding: 0 1rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__icon-box {
      position: relative;
    }

    &__icon {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color-grey-dark-2);
    }

    &__notification {
      font-size: 0.8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--color-primary);
      color: #fff;
      position: absolute;
      top: -0.5rem;
      right: 0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .column {
    padding: 0;
  }
}
.account-display-wrapper {
  .padd {
    padding-right: 10px;
    margin: 10px;
  }
}
/************************ The navbar container */
// .topnav {
//   overflow: hidden;
//   background-color: #333;
// }

// /* Navbar links */
// .topnav a {
//   float: left;
//   display: block;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }

// /* Links - change color on hover */
// .topnav a:hover {
//   background-color: #ddd;
//   color: black;
// }

/************************Main content,column *********************/
.main-content {
  height: 80%;
  background-color: white;
  //padding: 8px;
}

.home-page-wrapper {
  // background-image: url("./assets/images/imageshome.jpg");
  height: 100%;
}

/*************************Footer *************************************/
.footer-wrapper {
  display: flex;
  height: 10%;
  font-size: 25px;
  // width: 100%;
  background-color: #263238;
  text-align: center;
  align-items: center;
  justify-content: center;
  // height: 100%;
  .heading-text {
    color: white;
  }
}
.col_white_amrc {
  color: #fff;
}
.footer {
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/********************    Dashboard page               ***********************/
.dashboard-wrapper {
  position: relative;
  height: 100%;
}

/******************Media queries***********/
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
// @media (min-width: 992px) {
//   .phone-size {
//     display: block;
//   }
// }

// Medium devices (tablets, 768px and up)
